    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Ƀitlabs</h2>
                <p>Ƀitlabs is a contributor to various projects and decentralised autonomous organisations within the NFT and Web3 industries.</p>
                <p>These include <a href="https://art.haus">ART HAUS</a>, <a href="https://gnars.wtf">Gnars DAO</a>, <a href="https://shred.wtf">Nouns Athletes</a> and <a href="https://nouns.wtf">Nouns DAO</a>.</p>
            </div>
        </div>
    </section>
